<ul class="flex flex-wrap justify-center gap-2 text-gray-900 mt-8">
  <li>
    <button
      (click)="loadPage(page - 1)"
      [disabled]="page === 1"
      class="grid w-10 h-10 place-content-center rounded-md border transition-colors
             bg-amber-800 text-white hover:bg-amber-900 disabled:opacity-50 text-sm sm:text-base"
    >
      «
    </button>
  </li>

  @for (p of pages; track p) {
    <li>
      <button
        (click)="loadPage(p)"
        class="w-9 h-9 sm:w-10 sm:h-10 rounded border text-center text-sm font-medium transition-colors"
        [ngClass]="{
          'bg-amber-800 text-white border-amber-800 hover:bg-amber-900': page === p,
          'bg-white text-gray-700 border-gray-300 hover:bg-gray-100': page !== p
        }"
      >
        {{ p }}
      </button>
    </li>
  }

  <li>
    <button
      (click)="loadPage(page + 1)"
      [disabled]="page === totalPages"
      class="grid w-10 h-10 place-content-center rounded-md border transition-colors
             bg-amber-800 text-white hover:bg-amber-900 disabled:opacity-50 text-sm sm:text-base"
    >
      »
    </button>
  </li>
</ul>
