<ul class="flex justify-center gap-1 text-gray-900 mt-8">
  <li>
    <button
      (click)="loadPage(page - 1)"
      [disabled]="page === 1"
      class="grid size-9 place-content-center rounded-md border transition-colors
             bg-teal-600 text-white hover:bg-teal-700 disabled:opacity-50"
    >
      «
    </button>
  </li>

  @for (p of pages; track p) {
    <li>
      <button
        (click)="loadPage(p)"
        class="block size-8 rounded border text-center text-sm font-medium transition-colors"
        [ngClass]="{
          'bg-teal-600 text-white border-teal-600 hover:bg-teal-700': page === p,
          'bg-white text-gray-700 border-gray-300 hover:bg-gray-100': page !== p
        }"
      >
        {{ p }}
      </button>
    </li>
  }

  <li>
    <button
      (click)="loadPage(page + 1)"
      [disabled]="page === totalPages"
      class="grid size-9 place-content-center rounded-md border transition-colors
             bg-teal-600 text-white hover:bg-teal-700 disabled:opacity-50"
    >
      »
    </button>
  </li>
</ul>
