@if (loading) {
  <p class="text-gray-500 mt-12 text-center">Chargement en cours...</p>
}
@else if (error) {
  <p class="text-red-500 mt-12 text-center">{{ error }}</p>
}
@else if (products.length === 0) {
  <p class="text-gray-500 mt-12 text-center">Aucun produit à afficher</p>
}
@else {
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 mt-12">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      @for (p of products; track p.id) {
        <app-product-card [product]="p"></app-product-card>
      }
    </div>

    <div class="mt-8">
      <app-pagination
        [totalPages]="totalPages"
        [page]="page"
        (pageChange)="loadPage($event)">
      </app-pagination>
    </div>
  </div>
}
