<div class="p-6 lg:p-8 max-w-6xl mx-auto">
  <div class="flex flex-col sm:flex-row items-center justify-between mb-8">
    <h1 class="text-3xl font-semibold text-gray-900 text-center sm:text-left mb-4 sm:mb-0">
      Gestion Produits
    </h1>

    <a
      routerLink="/admin/create-product"
      class="px-5 py-2.5 rounded-full bg-blue-600 text-white font-medium text-sm shadow-md
             hover:bg-blue-700 hover:shadow-lg transition-all duration-200"
    >
      Créer un produit
    </a>
  </div>

  @if (loading) {
    <p class="text-gray-500 text-center">Loading...</p>
  } @else {
    <app-admin-products-table
      [products]="products"
      [loading]="loading"
      (pageChange)="onPageChange($event)"
      (editRequest)="onAskEdit($event)"
      (deleteProduct)="onDelete($event)"
    />
  }

  <div class="mt-8 flex justify-center">
    <app-pagination
      [totalPages]="pages"
      [page]="page"
      (pageChange)="loadPage($event)">
    </app-pagination>
  </div>

  @if (!loading && products.length === 0) {
    <p class="text-gray-500 mt-6 text-center">No products found.</p>
  }
</div>

@if (editingProduct) {
  <app-product-update
    [product]="editingProduct!"
    (saved)="onUpdateSaved()"
    (cancel)="onUpdateCancel()"
  ></app-product-update>
}
